
input {
    padding: 8px;
    border:none;
    border-bottom: 1px solid lightgray;
    border-radius: 16px;
    overflow: hidden;
    text-align: center;
    border: 0;
  
    &:focus &:active &:visited{
        border: 0;

    }

}