.ChartContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 650px;
    background-image: linear-gradient(to right bottom, rgb(0, 180, 252) , rgb(0, 81, 255));
}

